@model Coursework.Models.Actor

@{
    ViewBag.Title = "Add Actor";
    Layout = "_Layout";
}

<h2>Add Actor</h2>

<form method="post">
    <input type="text" asp-for="ActorFirstName">
    <input type="text" asp-for="ActorSurname">
    <button type="submit">Submit</button>
</form>