@model Producer

@{
    ViewBag.Title = "Create Producer";
    Layout = "_Layout";
}

<h2>Add Producer</h2>

<form action="" method="post">
    <input type="text" asp-for="ProducerName">
    <button type="submit">Add Producer</button>
</form>