@model Coursework.Models.DVDCategory

@{
    ViewBag.Title = "Add DVD Category";
    Layout = "_Layout";
}

<h2>Add DVD Category</h2>

<form action="" method="post">
    <input type="text" asp-for="CategoryDescription">
    <input type="text" asp-for="AgeRestricted">
    <button type="submit">Add Category</button>
</form>
